#category_nav
{
	border:1px solid #000;
	float: left;
	padding: 0 5px;
	width: 10%;
}
#category_nav ul
{
	list-style: none;
}
#category_nav ul li a
{
	
}
#category_nav ul li a, #category_nav ul li a:link, #category_nav ul li a:active, #category_nav ul li a:visited, #category_nav ul li a:hover
{
	text-decoration: none;
}
