#content
{
	border: 1px solid blue;
	margin: 0 11% 0 11%;
}
#products
{
	border: 1px solid green;
	padding: 10px;
	margin: 10px;
}
.product
{
	border:1px solid #FF0000;
	padding: 10px;
	margin: 10px;
}
#infopages
{
	border: 1px solid orange;
	padding: 10px;
	box-shadow: 5px 5px 5px #000;
	border-radius: 10px;
	margin: 0 220px;
}