<div id="content">
  <h2>Confirm & Order</h2>
  
  <% if session[:cart].empty? %>
    <p>Your cart is empty</p>
  <% else %>
    <table>
    <%= render 'shopping_cart_product' %>
    </table>
   
  <% end %>
  
  <%= params.inspect %>
</div>