<div id="content">
  <h2>Search Results</h2>
    <% if @products.present? %>
    <% if @products.nil? %>
      <p>'<%= @keywords %>' returned no results</p>
    <% end %>
    
  <% end %>
  <%= render @products %>
</div>