<div id="cart">
  <ul>
    <% if session[:cart].empty? || session[:cart].nil? %>
	  <li class="cart_item">Cart is empty</li>
    <% else %>
      <% session[:cart].each do |product| %>
        <li class="cart_item">
          <%= @cart_products.find(product["id"].to_i).name %>
          Quantity:<%= product["quant"] %> 
          <%= link_to "Remove", del_from_shopping_cart_path(:id => product["id"]), :method => :post %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p><%= link_to "Contents", shopping_cart_path, :method => :post %></p>
</div>